/* You can add global styles to this file, and also import other style files */
.navbar{
    margin-bottom: 1rem;
}

.is-complete{
    text-decoration-line: line-through;
}

.todo{
    margin: .3rem;
}